
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue:#03045E;
    --dark-brown:#474306;
    --dark-yellow:#F5EE84;
    --light-yellow:#FBF8CC; /*to create a variable --variable name */
}
*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-color: var(--light-yellow);/*to use variable var(variable name)*/
    font-family: 'poppins';
}
.container{
    max-width: 1240px;
    width:100%;
    margin:0 auto;/*margin 0 means no space on top and bottom and auto means center align from left and right*/
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav-items{
 display: flex;
 justify-content: space-between;
 max-width:250px;
 width: 100%;
}
.nav-icons{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
}
.nav-logo{
    font-size: 1.5rem;/*convert px to rem or em using online converter*/
    font-weight: 600;
    color: var(--dark-blue);
}
.nav-items a{
    /*to remove under line from link*/
    text-decoration: none;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
}
.hero-section .left-section h3{
font-size: 1.5rem;
color: var(--dark-blue);
}
.hero-section .left-section h1{
    font-size: 6.25rem;
    line-height: 1.1;
    color: var(--dark-blue);
}
.left-section .resume-button button{
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 7px; /*to make button corners round*/
    border: 1px solid var(--dark-brown);
    color: var(--dark-brown);
    transition: all 0.3s ease;
}
.left-section .resume-button button:hover{
    transform: translate(5% ,5%);
}
.left-section .resume-button{
position: relative;
display: inline-block;
  margin-top: 2rem;
}
.left-section .resume-button .button-rectangle{
width: 50px;
height: 50px;
background-color: var(--dark-yellow);
position: absolute;
width: 100%;
height: 100%;
border-radius: 7px;
z-index: -1;
top: 10%;
left: 5%;
}
.right-image{
position: relative
}
.right-section .right-image .group-6{
    position: absolute;
    left: 0;
    top: 70%;
}
.right-section .right-image .group-10{
    position: absolute;
right: 10%;
}
/*about section*/
.about-section h2{
    font-size: 6.25rem;
    color:var(--dark-yellow);
}
.about-section p{
    font-size:1.5rem;
    max-width:900px;
    width:100%;
}
.timeline{
    display: flex;
    gap: 20px;
    margin-bottom: 5rem;
  }
  .timeline-item.timeline-dot{
     width: 13px;
     height: 13px;
     background-color: var(--dark-blue);
     border-radius: 50%;
     margin-top: 0.6rem;
  }
  .timeline-content.timeline-year {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
  }
  .about-section .subheading{
    margin-bottom: 6rem;
  }

/*work section*/
  .work-section h2{
    font-size: 6.25rem;
    color: var(--dark-yellow);
  }
  .work-section .subheading{
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
    margin-bottom: 6em;
  }
  .work-section-content{
    display: flex;
    justify-content: space-between;
  }
  .work-section-content.work-section-card{
    max-width: 560px;
    width: 100%;
  }
  .work-section-card h4{
    font-size: 1.5rem;
  }
  .work-section p{
    font-size: 1.25;
  }

  /*media queries always at the end of css file*/
  @media (max-width:1024px){ /*for tablets and small laptopspx 1024*/
    .container{
        padding: 0 3rem;
    }
    .navbar .nav-logo{
        font-size: 1.3rem;
    }
    .nav-items a{
        font-size: 1rem;
    }
    .nav-icons img{
        width:70%;
    }
    .hero-section .left-section h1{
        font-size:5rem;
    }
  }
